input {
    background-color: black !important;
    color: white !important;
}

input::placeholder {
    color: gray !important
}

.fa-star {
    color: gold !important;
}

.fa-star-half {
    color: gold !important
}

.column {
    display: flex !important
}